.title {
    color: var(--primary);
    font-size: 3em;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: transparent;
    border: none;
}

svg {
    height: 40px;
    width: 40px;
    color: var(--primary);
    cursor: pointer;
}

button:disabled svg {
    color: rgb(128, 128, 128);
    cursor: default;
}

svg:hover {
    color: var(--secondary);
}

/* MOBILE */
@media (max-width: 480px) {
    .carousel {
        gap: 1rem;
    }
}