.title {
    color: var(--primary);
    font-size: 3rem;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: transparent;
    border: none;
}

svg {
    height: 40px;
    width: 40px;
    color: var(--primary);
    cursor: pointer;
}

button:disabled svg {
    color: gray;
    cursor: default;
}

svg:hover {
    color: var(--secondary);
}