.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10%;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 45%;
}

.aboutImage {
  border: 5px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}

.aboutTitle {
  color: var(--primary);
  font-size: 3rem;
}

.text {
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.2rem;
}