/* @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 70px;
    font-family: "Saira", sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --primary: #1BBBF5;
    --secondary: #D9307F;
    --background-primary: #101C26;
    --background-secondary: #0D0D0D;
}

body {
    font-size: 17px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--background-primary)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}