.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    height: 50px;
}

.info {
    color: var(--white);
}