.title {
    color: var(--primary);
    font-size: 3rem;
}

.skillsContainer {
    display: grid;
    /* border: 2px solid var(--primary); */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}